@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-5">
    @if (Model.Overview != null)
    {
        foreach (var vaccine in Model.Overview.Vaccines)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@(vaccine.Name)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@(vaccine.Description)</h6>

                    @if (vaccine.Municipalities != null)
                    {
                        <hr />
                        foreach (var municipality in vaccine.Municipalities)
                        {
                            <p class="card-text">
                                <b>@(municipality.RegionName) -> @(municipality.Name)</b>
                                <span class="badge badge-secondary btn-success">@(municipality.AvailableCount) ადგილი</span>
                                <ul class="list-group list-group-flush">
                                    @if (municipality.Locations != null)
                                    {
                                        foreach (var location in municipality.Locations)
                                        {
                                            <li class="list-group-item">
                                    <p class="card-text">
                                        @(location.BranchName) (@(location.BranchAddress)) 
                                        <span class="badge badge-secondary btn-success">@(location.AvailableCount) ადგილი</span>
                                    </p>
                                    </li>
                                }
                            }
                                    </ul>
                                    </p>
                                }
                            }
                </div>
            </div>
        }
    }
</div>